@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish" , sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #2c2177;
    display: grid;
    place-items: center;
}
.container{
    display: flex;
    color: rgb(240, 221, 221);
    column-gap: 55px;
    text-align: center;
    font-size: 25px;   
}
.counter{
    margin-bottom: 11px;
    color: rgb(241, 221, 1);
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  

}
.counter-container i{
    color: aliceblue;
    font-size: 80px;
    border-radius: 2px solid blue ;
  

}